<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="/js/main.js"></script>
</head>

<script type="text/html" id="listItemTemplate">
    <div class="list-element">
        <div class="list-element_data"></div>
        <button class="list-element_remove">X</button>
    </div>
</script>

<body>

<div class="index-add-element">
    <div class="index-add-element-wrapper">
        <input class="index-add-element-input"/>
    </div>
</div>

<div class="index-list"></div>

</body>

</html>